{% extends main_template %}

{% block content %}
<div class="container">

    <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <div class="title-container"><span class="card-title">About BeePaste</span></div>
                  <p><strong>BeePaste</strong> is a simple pastebin which was based on <strong><a href="https://github.com/claudehohl/Stikked">Stikked</a></strong> which was written by <strong>CodeIgniter</strong> (written in php). After 2 years of developing it, its backend became just worse than a monster, therefore it required to be rewritten! As a result of my (MohammadAmin's) searchs, it has been decided to use <strong>python</strong>, and <strong>pyramid framework</strong>.</p>
                  <p>It was just history of <strong>BeePaste</strong>, now let's see what are its features:</p>
                    <blockquote>
                      Paste safely with <strong>client-side</strong> paste encryption! (optional)
                    </blockquote>
                    <blockquote>
                      If you are a sysadmin or just want to send server logs to someone, you can paste it within the shell! just use <code>cat LOGFILE | nc beepaste.ir 1111</code>! for more information, please visit <a href="https://github.com/beepaste/pastecat">PasteCat Repository</a>
                    </blockquote>
                    <blockquote>
                      Also there is an <strong>rest-ful API</strong> (which you should contact MohammadAmin Vahedinia to get apikey!) which you can build your apps based on our api!
                    </blockquote>
                    <blockquote>
                      It is using <strong>ACE EDIT</strong> as editor and its powerful features like <strong>syntax highlighting</strong>
                    </blockquote>
                    <blockquote>
                      And more upcoming features are on the way to the server :))
                    </blockquote>
                </div>
              </div>
            </div>
    </div>

    {{ panel('authors') }}
</div>

{% endblock %}
